* {
    background-color: white;
}

.navBar{
    border: solid 1px black;
    padding: 10px;
    border-radius: 0.5rem;
}

.inputContainer {
    
}

.taskForm {
    border: solid 1px black;
    padding: 0.5rem;
    background-color: white;
}

.formContainer {
    background-color: lime;
    height: 50vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}