/* p-1 = 0.25rem */
/* p-4 = 1rem */


.centerForm {
    /* background: #d8ffab; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    gap: 0.25rem;
}

.textbox {
    border: solid 1px black;
    border-radius: 0.25rem;
    flex-grow: 1;
    padding: 0.5rem;
}

.passwordContainer {
    display: flex;
    gap: 1px;
}

.viewBtn {
    border: 1px solid black;
}

.registerBtn {
    padding: .75rem;
    font-size: larger;
}
:hover.registerBtn {
    scale: 105%;
    transition-duration: 150ms;
    cursor: pointer;
    background: black;
    color: white;
    border-radius: 1rem;
}

.link {
    align-self: center;
    text-decoration: underline;
    cursor: pointer;
}

:hover.link {
    font-weight: bold;
}

.moreInfo_securePattern {
    padding: 0.5rem;
    border: 1px black;
}

.passwordRequirementContainer {
    background-color: black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: dashed 2px black;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.invalidPassword {
    color: red;
    background-color: rgb(0, 0, 0);
    font-weight: bold;
}

.validPassword {
    color: lime;
    background-color: black;
}

.pwdAndPwdRequirementsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}